@font-face {
    font-family: 'Value Sans Pro';
    src: url("./test/fonts/ValueSansPro-Regular.eot");
    src: url("./test/fonts/ValueSansPro-Regular.eot?#iefix")format("embedded-opentype"),
    url("./test/fonts/ValueSansPro-Regular.woff") format("woff"),
    url("./test/fonts/ValueSansPro-Regular.woff2") format("woff2"),
    url("./test/fonts/ValueSansPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Value Sans Pro', sans-serif;

}

.container {
    padding: 0 4%;
}

.header-container{
    margin: 0 80px;
}

.header{
    padding-bottom: 14px;
    padding-top: 14px;
    background: #EDEBE9;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header-nav__item{
    color: #333333;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px;
}
.header-nav__item:hover{
    color: #8B4795CC;
    transition: 0.2s;
}

.header-line__item{
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    margin-right: 30px;
}

.header-image{
    font-weight: 600;
    color: black;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px dashed #333333;
}

.header-nav{
    padding-top: 5px;
}

.header-container__item{
    display: flex;
    align-items: flex-end;
}

.home{
    font-family: 'Value Sans Pro', sans-serif;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}

.home-logo{
    height: 50px;
    width: 222px;
    cursor: pointer;
}

.home-search{
    position: relative;
    width: 64%;
}

.home-search__input{
    width: 100%;
    border-radius: 71px;
    border: 2px solid #8B4795CC;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}
.home-search__input:focus{
    outline: none;
}


.home-search__image{
    height: 24px;
    width: 24px;
    position: absolute;
    top: calc(50% - 12px);
    transform: translateY(calc(-50% + 12px)) ;
    right: 20px;
}

.home-icon {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.home-icon:hover a{
    color: red;
    transition: 0.2s;
}

.home-icon:hover path{
    stroke: red;
    transition: 0.2s;
}
.home-icon:hover circle{
    stroke: red;
    transition: 0.2s;
}
.home-icon__heard:hover path{
    fill: red;
    transition: 0.2s;
}

.home-user__text{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    flex: none;
}

.home-favorite__text{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    flex: none;
}

.home-basket__text{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    flex: none;
}

.home-icon p{
    margin: 0;
}

.list{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.list-text{
    text-decoration: none;
    font-family:'Value Sans Pro', sans-serif;
    color: #333333;
    font-weight: 300;
    padding-right: 33px;
    transition:  color 0.2s linear;
}
.list-text:hover{
    color: #ffc401;
}
.cover{
    background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
}
.cover-bac{
    padding: 0 8%;
    height: 640px;
    width: 100%;
    top: 201px;
    left: 0;
    background-image: url("image/Sofa.png"), url("image/bac.png");
    background-position: right center, right center;
    background-repeat: no-repeat, no-repeat;
}
.cover-logo_bac{
    position: absolute;
    transform: rotate(1deg);
    left: 54%;
    top: 257px;
}
.cover-logo{
    position: absolute;
    width: 46.6%;
    height: 531px;
    left: 54%;
    top: 257px;
}
.cover-text{
    font-family: 'Value Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-align: left;
    padding-top: 140px;
}
.cover-text__discount{
    font-family:'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.76);

}
.cover-image{
    width: 100%;
    padding-left: 7%;
    padding-right: 6px;
    display: flex;
    margin-top: -75px;
}
.cover-image__sofa {
    position: relative;
    width: 230px;
    height: 126px;
    background: rgba(201, 201, 201, 0.21);
}
.cover-image__sofa-bac{
    transform: rotate(1deg);
}
.cover-image__sofa img{
    position: absolute;
    top: 37px;
    right: 1px;
}
.cover-image__wing img{
    position: absolute;
    top: 28px;
    right: 18px;
}
.cover-image__wing{
    position: relative;
    width: 230px;
    height: 126px;
    background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);
}
.cover-image__wing-bac{
    transform: rotate(1deg);
}
.cover-image__hallway{
    position: relative;
    width: 230px;
    height: 126px;
    background: linear-gradient(90deg, #E3FDF5 0%, #FFE6FA 100%);
}
.cover-image__hallway img{
    position: absolute;
    top: 17px;
    right: 22px;
}
.cover-image__bed{
    position: relative;
    width: 230px;
    height: 126px;
    background: linear-gradient(90deg, #FFFEFF 0%, #D7FFFE 100%);
}
.cover-image__bed img{
    position: absolute;
    top: 28px;
    right: 15px;
}
.cover-image__armchair{
    position: relative;
    width: 230px;
    height: 126px;
    background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);
}
.cover-image__armchair img{
    position: absolute;
    top: 36px;
    right: 24px;
}
.cover-image__hallway-image{
    position: relative;
    width: 230px;
    height: 126px;
    background: linear-gradient(90deg, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%);
}
.cover-image__hallway-image img{
    position: absolute;
    top: 21px;
    right: 6px;
}
.cover-image__kitchen{
    position: relative;
    width: 230px;
    height: 126px;
    background: linear-gradient(90deg, #FDFCFB 0%, #E2D1C3 100%);
}
.cover-image__kitchen img{
    position: absolute;
    top: 21px;
    right: 15px;
}
.cover-image__bedroom{
    position: relative;
    width: 230px;
    height: 126px;
    background: linear-gradient(90deg, #E6E9F0 0%, #EEF1F5 100%);
}
.cover-image__bedroom img{
    position: absolute;
    top: 20px;
    right: 11px;
}
.cover-image > div {
    margin-left: 16px;
}
.title{
    width: 100%;
    position: relative;

}
.title-text{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 8%;
    margin-top: 140px;
    border-bottom: solid black;

}
.title-text:after{
    position: absolute;
    content: "";
    height: 1px;
    width: 1200px;
    background-color: rgba(51, 51, 51, 0.27);
    top: 34px;
    left: 350px;
}
.card{
    position: relative;
    margin-top: 337px;
}
.svg_back{
    position: absolute;
    width: 58px;
    top: 180px;
    left: 8%;
}

.svg_forward{
    position: absolute;
    width: 58px;
    top: 180px;
    left: 87%;
}
.card-sofa__oll{
    position: relative;
}
.card-table-oll{
    position: relative;
}
.card-chair-oll{
    position: relative;
}
.card-bed__oll{
    position: relative;
}
.card-sofa{
    position: relative;
    border: 1px solid rgba(51, 51, 51, 0.27);
    width: 280px;
    height: 346px;
    cursor: pointer;
}
.card-sofa:hover{
    border: 1px solid #8B4795;
    transition: 0.2s;
}
.card-table:hover{
    border: 1px solid #8B4795;
    transition: 0.2s;
}
.card-chair:hover{
    border: 1px solid #8B4795;
    transition: 0.2s;
}
.card-bed:hover{
    border: 1px solid #8B4795;
    transition: 0.2s;
}

.card-holder svg:hover path{
    stroke: red;
    transition: 0.2s;
}
.card-sofa__text{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Value Sans Pro', sans-serif;
    background-color: #8B4795;
    padding: 8px 8px;
    font-weight: 500;
    top: 280px;
    border-radius : 0 20px 20px 0;
}
.card-sofa__text-sell{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Value Sans Pro', sans-serif;;
    background-color: #b3d4fc;
    padding: 4px 8px;
    font-weight: 500;
    top: 310px;
    border-radius : 0 20px 20px 0;
}
.card-sofa img{
    position: absolute;
    top: 89px;
    right: 12px;
}
.card-favorites{
    position: absolute;
    top: 19px;
    right: 63px;
}
.card-favorites:hover path{
    fill:  red;
    transition: 0.2s;
}
.card-rating{
    position: absolute;
    top: 19px;
    right: 19px;
}
.card-rating:hover path{
    stroke: red;
}
.card-table{
    position: relative;
    border: 1px solid rgba(51, 51, 51, 0.27);
    width: 280px;
    height: 346px;
    cursor: pointer;
}
.card-table img{
    position: absolute;
    top: 67px;
    right: 23px;
}
.card-chair{
    position: relative;
    border: 1px solid rgba(51, 51, 51, 0.27);
    width: 280px;
    height: 346px;
    cursor: pointer;
}
.card-chair img{
    position: absolute;
    top: 60px;
    right: 42px;
}
.card-chair__svg{
    position: absolute;
    top: 19px;
    right: 63px;
}
.card-chair__rating{
    position: absolute;
    top: 19px;
    right: 19px;
}
.card-bed{
    position: relative;
    border: 1px solid rgba(51, 51, 51, 0.27);
    width: 280px;
    height: 346px;
    cursor: pointer;
}
.card-bed img{
    position: absolute;
    top: 64px;
    right: 19px;
}
.card-table__svg{
    position: absolute;
    top: 19px;
    right: 64px;
}
.card-table__rating{
    position: absolute;
    top: 19px;
    right: 19px;
}
.card-holder{
    display:flex;
    justify-content: space-between;
    margin: 0 15%;
}
.card-text{
    display:flex;
    justify-content: space-between;
    margin: 14px 300px;
    line-height: 2;
}

.card-text__name-text{
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

}
.card-text__name{
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

}
.card-text__price{
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}

.card-text__basket{
    font-family:'Value Sans Pro', sans-serif;;
    text-decoration: none;
    color: black;
    font-weight: 700;
    background: #FFD103;
    border-radius: 100px;
    border: 0;
    line-height: 1;
    width: 220px;
    height: 48px;
    padding: 16px 32px;
    text-align: center;
    cursor: pointer;
}
.styled:hover{
    background-color: rgba(200, 209, 3, 1);
    transition: 0.2s
}
.styled:active {
    box-shadow: inset -5px -5px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.card-text__table{
    position: absolute;

}
.card-text__chair{
    position: absolute;

}
.card-text__bed{
    position: absolute;

}
.catalog{
    display: flex;
    width: 100%;
    padding-top: 140px;
    justify-content: space-between;
}
.catalog img{
    width: 100%;
}
.catalog-furniture{
    position: relative;
    width: 33.33%;
}
.catalog-furniture__catalog{
    position: absolute;
    color: #FFFFFF;
    left: 80px;
    top: 300px;
    transform: rotate(-90deg);
    transform-origin: top left;
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
}
.catalog-furniture__catalog:after{
    position: absolute;
    content: "";
    height: 1px;
    width: calc(7vw - 10px);
    background-color: #FFFFFF;
    top: 50%;
    margin-left: 15px;
}
.catalog-hm{
    position: absolute;
    color: #FFFFFF;
    left: 80px;
    top: 488px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
}
.catalog-text{
    position: absolute;
    color: #FFFFFF;
    left: 80px;
    top: 550px;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
}
.catalog-kitchens{
    position: relative;
    width: 33.33%;
}
.catalog-hallways{
    position: relative;
    width: 33.33%;
}
.group{
    position: relative;
    top: 140px;
    width: 100%;
    height: 794px;
    background: linear-gradient(90deg, #E9DEFA 0%, #FBFCDB 100%);
}
.group-text__new{
    position: absolute;
    width: 183px;
    height: 64px;
    left: 11%;
    top: 236px;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
}
.group-text__style{
    position: absolute;
    width: 370px;
    height: 70px;
    left: 11%;
    top: 330px;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
}
.group-text__forward{
    position: absolute;
    width: 58px;
    height: 58px;
    left: 10%;
    top: 468px;
}
.group-text__back{
    position: absolute;
    width: 58px;
    height: 58px;
    left: 14%;
    top: 468px;
}
.group-cards{
}
.group-cards__closet {
    position: absolute;
    border: 1px solid rgba(51, 51, 51, 0.27);
    width: 354px;
    height: 514px;
    background: #FFFFFF;
    left: 35%;
    top: 140px;
    cursor: pointer;
}
.group-cards__closet:hover {
    border: 1px solid #8B4795;
}

.group-cards__closet:hover button{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.group-cards__closet svg:hover path{
    stroke: red;
    transition: 0.2s;
}

.group-cards__closet:hover svg{
    visibility: visible;
}

.group-cards__room{
    position: absolute;
    border: 1px solid rgba(51, 51, 51, 0.27);
    width: 354px;
    height: 514px;
    background: #FFFFFF;
    left: 55%;
    top: 140px;
    cursor: pointer;
}

.group-cards__room:hover{
    border: 1px solid #8B4795;
}

.group-cards__sofa{
    position: absolute;
    border: 1px solid rgba(51, 51, 51, 0.27);
    width: 354px;
    height: 514px;
    background: #FFFFFF;
    left: 75%;
    top: 140px;
    cursor: pointer;
}

.group-cards__sofa:hover{
    border: 1px solid #8B4795;
}

.group-cards__closet-img{
    position: absolute;
    width: 215px;
    height: 260px;
    top: 60px;
    left: 67px;
}

.group-cards__closet-name{
    position: absolute;
    top: 340px;
    left: 34px;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.group-cards__closet-text{
    position: absolute;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    width: 40px;
    height: 20px;
    left: 34px;
    top: 367px;
}

.group-cards__closet-hm{
    position: absolute;
    width: 73px;
    height: 28px;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    top: 391px;
    left: 34px;
}
.group-cards__sofa:hover svg{
    visibility: visible;
}
.group-cards__sofa:hover button{
    visibility: visible;
}

.group-cards__closet-old{
    position: absolute;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    top: 391px;
    left: 123px;
    text-decoration: line-through;
}

.group-cards__svg{
    visibility: hidden;
}

.group-cards__closet-buy{
    position: absolute;
    background: #FFD103;
    text-decoration: none;
    color: #333333;
    width: 220px;
    height: 48px;
    top: 432px;
    left: 34px;
    padding: 16px 32px;
    font-weight: 700;
    border-radius: 100px;
    letter-spacing: 0.005em;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
    visibility: hidden;
}

.group-cards__room-img{
    width: 352px;
}

.group-cards__room-name{
    position: absolute;
    width: 166px;
    height: 20px;
    top: 367px;
    left: 34px;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.group-cards__room-hm{
    position: absolute;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.005em;
    top: 391px;
    left: 34px;
}
.group-cards__room:hover svg{
    visibility: visible;
}
.group-cards__room:hover button{
    visibility: visible;
}

.group-cards__room-old{
    position: absolute;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.005em;
    top: 391px;
    left: 132px;
    text-decoration: line-through;
}

.group-cards__sofa-img{
    position: absolute;
    top: 109px;
    left: 13px;
}

.group-cards__sofa-mane{
    position: absolute;
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.005em;
    top: 367px;
    left: 34px;
}

.group-cards__sofa-hm{
    position: absolute;
    font-family: 'Value Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.005em;
    top: 391px;
    left: 34px;
}

.group-cards__sofa-old{
    position: absolute;
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.005em;
    top: 391px;
    left: 134px;
    text-decoration: line-through;
}

.construct{
    position: relative;
    top: 240px;
    width: 100%;
    padding-left: 154px;
    padding-bottom: 154px;
    border-bottom: 1px solid #C1C1C1;
}

.construct-left{
    left: 153px;
}

.construct-text__name{
    font-family: 'Value Sans Pro', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
}

.construct-menu {
    position: absolute;
    top: 78px;
}

.construct-menu a{
    text-decoration: none;
    color: #333333;
    padding-right: 34px;
}

.construct-text__sofa:hover {
    font-weight: 700;
}

.construct-text__room:hover {
    font-weight: 700;
}

.construct-text__living:hover {
    font-weight: 700;
}

.construct-text__hallway:hover {
    font-weight: 700;
}

.construct-text__children:hover {
    font-weight: 700;
}

.construct-box{
    display: flex;
    position: relative;
    top: 65px;
}

.construct-box__group{
    position: absolute;
    width: 175px;
    height: 149px;
    background: #FFFFFF;
    top: 313px;
    left: 93px;
}

.construct-link{
    position: absolute;
    top: 240px;
    left: 280px;
}

.construct-link_none{
    position: absolute;
    top: 504px;
    left: 47px;
}

.construct-link__back{
    position: absolute;
    top: 443px;
    left: 973px;
}

.construct-link__left{
    position: absolute;
    top: 376px;
    left: 624px;
}

.construct-box__left{
    position: absolute;
    padding-top: 167px;
    left: 66%;
}

.test{
    height: 58px;
    width:  58px;
    position: relative;
    left: 30%;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgba(51, 51, 51, 0.27);
    background: #FFFFFF;
}

.test:hover {
    border: 2px solid #8B4795;
    transition: 0.2s;
}

.test:hover .arrow{
    border-color: #8B4795;
    transition: 0.2s;
}

.arrow {
    margin: 0;
    top: 35%;
    left: 25%;
    position: absolute;
    border:  solid rgba(51, 51, 51, 0.27);
    border-width: 0 2px 2px 0;
    padding: 7px;
}

.left {
    transform: rotate(135deg) translate(-50%,-50%);
}

.right {
    transform: rotate(-45deg);
}

.test-stop{
    position: absolute;
    top: 335px;
    left: 80%;
}

.construct-box_border{
    display: flex;
}

.test-border__left{
    position: absolute;
    top: 615px;
    left: 70%;
}

.test-border__right{
    position: absolute;
    top: 615px;
    left: 86%;
}

.box-svg__favorite{
    position: absolute;
    left: 127px;
    top: 25px;
}

.box-svg__favorite:hover path {
    fill: red;
    transition: 0.2s;
}

.construct-box__text{
    padding-left: 15px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 15px;
}

.construct-box__text-two{
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1px;
    padding-left: 15px;
}

.construct-box__text-hm{
    position: absolute;
    padding-left: 15px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.construct-box__text-none{
    position: absolute;
    padding-top: 21px;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 15px;
    text-decoration: line-through;
}

.box-svg__basket{
    position: absolute;
    left: 127px;
    top: 95px;
}

.box-svg__basket:hover path{
    stroke: red;
    transition: 0.2s;
    cursor: pointer;
}

.services{
    position: relative;
    top: 340px;
    padding-left: 154px;
    padding-right: 154px;
    width: 100%;
}

.services-text{
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
}

.services-box{
    display: flex;
    justify-content: space-between;
}

.services-box__size{
    position: relative;
    width: 400px;
    height: 302px;
    background: #EDEBE9;
    cursor: pointer;
    background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
    background-position: 1px -400px;
    transition: background 1s ease-out;
}

.services-box__size-img{
    position: absolute;
    top: 40px;
    left: 205px;
}

.services-box__size-text{
    position: absolute;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    left: 45px;
    top: 220px;
}

.services-box__design{
    position: relative;
    width: 700px;
    height: 302px;
    background: #EDEBE9;
    cursor: pointer;
    background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
    background-position: 1px -700px;
    transition: background 1s ease-out;
}


.services-box__design-img{
    position: absolute;
    left: 426px;
    top: 24px;
}

.services-box__cargo{
    position: relative;
    width: 400px;
    height: 302px;
    background: #EDEBE9;
    cursor: pointer;
    background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
    background-position: 1px -400px;
    transition: background 1s ease-out;
}
.services-box__design-text{
    position: absolute;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    left: 45px;
    top: 220px;
}
.services-box__cargo-img{
    position: absolute;
    left:150px;
    top:35px;
}
.services-box__cargo-text{
    position: absolute;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    left: 45px;
    top: 220px;
}
.services-box__size:hover{
    background-position: 400px;
}
.services-box__design:hover{
    background-position: 700px;
}
.services-box__cargo:hover{
    background-position: 400px;
}
.services-box__delivery{
    position: relative;
    width: 550px;
    height: 302px;
    background: #EDEBE9;
    cursor: pointer;
    background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
    background-position: 1px -550px;
    transition: background 1s ease-out;
}

.services-box__installation{
    position: relative;
    width: 965px;
    height: 302px;
    background: #EDEBE9;
    cursor: pointer;
    background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
    background-position: 1px -965px;
    transition: background 1s ease-out;
}
.services-box__dawn{
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
}
.services-box__delivery-img{
    position: absolute;
    left: 280px;
    top: 23px;
}
.services-box__delivery-text{
    position: absolute;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    left: 45px;
    top: 220px;
}
.services-box__installation-img{
    position: absolute;
    left: 700px;
    top: 35px;
}
.services-box__installation-text{
    position: absolute;
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    left: 45px;
    top: 220px;
}
.services-box__delivery:hover{
    background-position: 550px;
}

.services-box__installation:hover{
    background-position: 965px;
}

.desk{
    position: relative;
    top: 500px;
    padding-left: 155px;
    padding-right: 155px;
    width: 100%;
}
.desk-box{
    width: 1532px;
    height: 730px;
    background: #EDEBE9;
}
.desk-img__one{
    position: absolute;
    width: 280px;
    height: 283px;
}
.desk-img__two{
    position: absolute;
    left: 450px;
}
.desk-img__three{
    position: absolute;
    left: 746px;
}
.desk-img__four{
    position: absolute;
    left: 1333px;
}
.desk-img__five{
    position: absolute;
    top: 299px;
}
.desk-img__six{
    position: absolute;
    top: 299px;
    left: 450px;
}
.desk-img__seven{
    position: absolute;
    top: 373px;
    left: 1333px;
    width: 354px;
    height: 357px;
}
.desk-box__name{
    position: absolute;
    top: 204px;
    left:1060px;
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
}
.desk-box__info{
    position: absolute;
    top: 258px;
    left:1080px;
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;

}
.desk-box__vk{
    position: absolute;
    top: 380px;
    left:1070px;
    width: 220px;
    height: 48px;
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #333333;
    letter-spacing: 0.005em;
    text-align: center;
    background: #FFD103;
    padding: 16px 32px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 100px;
    border: 0;
}
.desk-box__odn{
    position: absolute;
    top: 438px;
    left:1070px;
    width: 220px;
    height: 48px;
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.005em;
    text-align: center;
    background: #FFD103;
    padding: 16px 32px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 100px;
    border: 0;
    white-space: nowrap;
}
.desk-box__inst{
    position: absolute;
    top: 499px;
    color: #333333;
    left:1070px;
    width: 220px;
    height: 48px;
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.005em;
    text-align: center;
    background: #FFD103;
    padding: 16px 32px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 100px;
    border: 0;
}
.end{
    position: relative;
    top: 640px;
    width: 100%;
    border-bottom: 1px solid #C1C1C1;
}
.end-button{

    top: 130px;
    left: 870px;
    padding: 15px 28px;
    cursor: pointer;
    border-radius: 100px;
    text-decoration: none;
    background: #EDEBE9;
}
.end-button__text{

    top: 130px;
    left: 1030px;
    font-family:'Value Sans Pro',sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;
}
.end-box{
    height: 407px;
    background: #EDEBE9;
    justify-content: space-between;
    white-space: normal;
    display: flex;
}
.end-box__text{
    width: 100%;
    padding-top: 60px;
    padding-left: 155px;
    display: flex;
    justify-content: space-between;
}
.end-box__text p{
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
}
.end-box__text-one{
    width: 45%;
    position: center;
    line-height: 16px;


}
.end-box__text a{
    text-decoration: none;
    color: #333333;
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;


}
.end-redact__text{
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;


}
.end-redact__two{

}
.end-redact__four{


}
.end-redact__three{
    width: 20%;
    position: center;




}
.end-five__redact{

}
.end-redact__five{
    width: 20%;
    text-align: start;

}
.end-redact__six{
    width: 60%;



}
.end-redact__six a{
    font-style: normal;
    line-height: 16px;
    font-size: 18px;
    letter-spacing: -0.01em;
}
.end-input__redact{

}
.end-input{
    border-radius: 60px;
    background: #FFFFFF;
    padding: 15px;
    width: 300px;
    border: #FFFFFF;

}
.end-input:focus{
    outline: none;
}
.end-redact__seven{

}
.seven-number{
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    text-decoration: none;
    color: #333333;

}
.seven-mail{
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.01em;
    text-align: left;
}

.seven-address{
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
}
.seven-place{
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
}
.seven-inf{
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.01em;
    text-align: left;

}
.seven-time{
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: left;

}
.end-applications{
    display: flex;
    justify-content: space-evenly;
}
.tg-icon:hover{
    background: #b3d4fc;
    transition: 0.2s;
}
.vk-icon:hover{
    background: blue;
    transition: 0.2s;
}
.class-icon:hover{
    background: #ffc401;
    transition: 0.2s;
}
.box-end{
    position: relative;
    top: 640px;
    width: 100%;
    background:#EDEBE9;
    height: 120px;
}
.box-end__item{
    position: absolute;
    display: flex;
    top: 30px;
    left: 155px;
}
.box-end__item-text{
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
}
.box-end__text-item{
    padding-left: 50px ;
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    color: #333333;
}
.box-end__payment{
    padding-left: 166px;
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.005em;
    text-align: left;

}
.box-end__card{
    display: flex;
    line-height: 18px;


}

.box-end__svg{

}
.tg-icon{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px;
    background: #C0C0C0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.vk-icon{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px;
    background: #C0C0C0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.class-icon{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px;
    background: #C0C0C0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.end-applications svg {
    width: 100%;
}