@media (max-width: 1024px) {
    .list{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .group{
        margin-left: auto;
        margin-right: auto;
        top: 200px;
    }
    .group-cards{
        width: auto;
    }
    .list-text__on{
        display: none;
    }
    .title-text:after{
        position: absolute;
        content: "";
        height: 1px;
        width: 500px;
        background-color: rgba(51, 51, 51, 0.27);
        top: 34px;
        left: 350px;
    }
    .cover-image__off{
        display: none;
    }
    .card-mobile__off{
        display: none;
    }

    .card{
        justify-content: space-evenly;
    }
    .svg_back{
        left: 4%;
    }

    .test-stop{
        top: 180px;
        left: 70%;
    }
    .construct{
        padding: 0 0;
    }
    .construct-left{
    }
    .construct-box{
        display: block;
    }
    .construct-box__left{
        width: 45%;
        position: relative;
        bottom: 170px;
        left: 30%;
    }
    .test-border__left{
        left: 30%;
        top: 550px;
    }
    .test-border__right{
        left: 50%;
        top: 550px;
    }
    .card-text__name-text{
        margin: 0;
    }
    .group-cards__sofa,
    .group-cards__room{
        display: none;
    }
    .group-text__back{
        left: 18%;
    }
    .services-box,
    .services-box__dawn{
        display: block;
        padding: 0;
    }
    .services-box__size,
    .services-box__design,
    .services-box__cargo,
    .services-box__delivery,
    .services-box__delivery,
    .services-box__installation{
        margin: 0 0 10px;
        width: 100%;
        padding: 0;
    }
    .services-box__installation-img,
    .services-box__delivery-img,
    .services-box__cargo-img,
    .services-box__design-img,
    .services-box__size-img{
        margin: 3% 0 0 55%;
    }
    .services-box__installation-img{

    }
    .desk img{
    }
    .desk{
    }
    .desk-box{
        flex-direction: row;
        display: block;
        height: 2404px;
    }
    .desk-img__three{

    }
    .desk-img__one{
        display: none;
    }

    .one-png{
        margin: 0;
        width: 100%;
        display: table;
    }
    .desk-img__two{
        width: 100%;
    }
    .desk-img__three{
        width: 100%;
    }
    .desk-img__five{
        display: none;
    }
    .desk-img__four{
        display: none;
    }
    .two-png{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 6px;
        margin-top: 20px;
    }
    .desk-name__box{
        margin-top: 40px;
        display: flex;

    }

    .end{
        height: 1200px;
    }
    .end{
        display: block;
    }
    .end-box{
        height: 1300px;
        border-bottom: 1px solid #C1C1C1;

    }
    .end-box__text{
        display: table-row;
        padding-left: 25%;

    }
    .end-box__text-one{
        margin: 0;
    }
    .end-redact__text-two{
        position: relative;
        bottom: 300px;
        left: 40%;

    }
    .end-redact__three{
        position: relative;
        bottom: 230px;
    }
    .end-redact__five{
        position: relative;
        bottom: 500px;
        left: 40%;
    }
    .end-redact__six{
        position: relative;
        bottom: 400px;
    }
    .end-redact__seven{
        position: relative;
        bottom: 350px;
    }
    .box-end{
        position: relative;
        top:740px;
        padding-left: 0;
    }
    .box-end__text-item{
        position: relative;
        top: 15px;
    }
    .box-end__payment{
        display: none;
    }
    .construct-box__img{
        width: 1024px;

    }
    .construct-link__back{
        width: 45px;
        left: 88%;
    }
    .construct-link__left{
        width: 45px;
        top: 350px;
    }
    .construct-link{
        width: 45px;
    }
    .construct-link_none{
        width: 45px;
        top: 470px;
    }

    .menu__mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .menu__mobile_button {
        position: relative;
        height: 26px;
        width: 40px;
        cursor: pointer;
    }
    .menu__mobile_button.active span {
        opacity: 0;
    }
    .menu__mobile_button.active.menu__mobile_button:before, .menu__mobile_button.active.menu__mobile_button:after {
        top: 40%;
    }
    .menu__mobile_button.active.menu__mobile_button:before {
        transform: rotate(45deg);
    }
    .menu__mobile_button.active.menu__mobile_button:after {
        transform: rotate(-45deg);
    }
    .menu__mobile_button span, .menu__mobile_button:before, .menu__mobile_button:after {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background-color: #1e272e;
        border-radius: 6px;
        opacity: 1;
    }
    .menu__mobile_button:before, .menu__mobile_button:after {
        content: "";
        transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu__mobile_button span {
        top: 50%;
        transform: translateY(-50%);
    }
    .menu__mobile_button:before {
        top: 0;
    }
    .menu__mobile_button:after {
        top: calc(100% - 6px);
    }
    .menu__mobile-text{
        right: 1px;
        position: absolute;
        top: calc(100% + 15px);
        display: none;
    }
    .menu__mobile-text ul {
        margin: 2px;
        padding: 30px;
        border: 1px solid rgba(201, 201, 201, 0.21);
        background: rgba(201, 201, 201, 0.21);
    }
    .menu__mobile-text ul li {
        margin-top: 10px;
        list-style: none;
    }
    .menu__mobile-text.show {
        display: block;
    }

    .catalog-hm{
        display: none;
    }
    .catalog-text{
        display: none;
    }
    .off{
        display: none;
    }
    .test_old{
        bottom: 160px;
        left: 0;
    }
    .cover-image{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .cover-image__sofa,
    .cover-image__wing,
    .cover-image__hallway,
    .cover-image__bed,
    .cover-image__armchair,
    .cover-image__hallway-image,
    .cover-image__kitchen,
    .cover-image__bedroom{
        width: 70%;

    }
    .home{
        display: flex;
        flex-direction: column;
        height: 205px;
    }
    .home-icon__oll{
        display: flex;

    }
    .home-icon{
        margin: 20px;
    }
}

@media only screen and (max-width: 960px) {
    .desk-img__two,
    .desk-img__three{
       width: 100%;
    }
    .services-box__design-img{
        width: 30%;
    }




    .construct-box__img{
        width: 100%;
    }
    .construct-box__left{
        left: 25%;
    }
    .construct-link__back{
        top: 400px;
    }
    .construct-link_none{
        left: 20px;
        top: 430px;
    }
}
@media only screen and (max-width: 900px) {
    .services-box__design-img{
        width:40%;

        left: 60%;
    }
    .services-box__cargo-img{
        width: 40%;
    }
    .services-box__delivery-img{
        width: 40%;
    }
    .services-box__installation-img{
        width: 40%;
    }
    .desk-img__two,
    .desk-img__three{
        width: 100%;
    }
    .home-search__input{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: block;
    }
    .home-search__image{
        right: 78px;
    }
    .box-end{
        top:765px
    }
    .end-box{
        height: 1325px;
    }
    .title-text:after{
        width: 450px;
    }

}
@media only screen and (max-width: 864px) {
    .construct-link__back{
        top: 350px;
    }
    .construct-link__left{
        top: 290px;
        left: 65%;
    }
    .construct-link_none{
        top: 380px;
    }
    .desk-img__five{
        right: 348px;
    }

    .home-search__input{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: block;
    }
    .home-search__image{
        right: 66px;
    }
    .title-text:after {
        width: 430px;
    }
    .home-icon{
        width: 20%;
    }
    .home-logo{
        width: 100%;
    }
    .desk-box__name{
        top: 780px;
    }
    .desk-box__info{
        top: 825px;
        left: 23%;
    }
    .desk-box__vk {
        top: 780px;
    }
    .desk-box__odn {
        top: 840px;
    }
    .desk-box__inst {
        top: 900px;
    }
}
@media only screen and (max-width: 864px) {
    .title-text:after{
        width: 380px;
    }
    .two-png{
        display: block;
    }
    .desk-box{
        height: 3200px;
    }

}
@media only screen and (max-width: 810px) {

    .construct-box__left{
        left: 15%;

    }
    .test-stop{
        bottom: 50px;
    }
   .cover-image__armchair{
       display: none;
   }
   .arrow{
       padding: 5px;
   }
   .test{
       height: 48px;
       width: 48px;
   }
   .catalog-furniture__catalog{
       left: 34px;
       top: 190px;
   }
    .test_old{
        height: 48px;
        width: 48px;
    }
    .test-stop__old{
        top:  120px;
        left: 60%;

        bottom: 200px;
    }
}
@media only screen and (max-width: 768px) {

    .home-search__image{
        right: 90px;
    }
    .title-text:after{
        width: 340px;
    }
    .card-holder{
        display: block;
        width: 18em;
        margin: 20px auto;

    }
    .end-input__wrapper{
        align-items: center;
    }
    .desk-box{

    }
    .catalog{
        padding-top: 240px;
    }

    .card-bed__oll,
    .card-table-oll{
        margin-top: 30px;
    }
    .end-button{
        border-radius: 20px;
    }
    .end-box{
        height: 1360px;
    }
    .box-end__item-text{
        width: 25%;
    }

    .test-stop__old{
        top:  120px;
        left: 60%;

        bottom: 200px;
    }
    .test_old{
        height: 48px;
        width: 48px;
        left: 90%;
        top: 0;
    }
    .group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .svg_forward{
        top: 710px;
    }
    .group{
        display: flex;
    }
    .box-end__item{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        gap: 20px;
    }
    .box-end{
        height: 100%;
        top: 800px;
    }

}
@media only screen and (max-width: 720px) {
    .construct-box__group,
    .construct-link_none,
    .construct-link,
    .construct-link__left,
    .construct-link__back{
        display: none;
    }
    .header-nav{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }
    .list-text{
        padding-right: 1px;
    }
    .header-nav{
        padding-top: 12px;
    }
    .header-line__item{
        margin-right: 5px;
    }
    .title-text:after{
        display: none;
    }
    .services-box__size-img{
        width: 40%;
    }
    .group-text__new,
    .group-text__style{
        left: 5%;
    }
    .construct-box__group{
        width: 175px;
        height: 75px;
        top: 280px;
    }
    .construct-box__text-hm,
    .construct-box__text-none,
    .box-svg__basket{
        display: none;
    }
    .construct-link__left{
        top: 238px;
    }
    .construct-link__back{
        top: 291px;
    }
    .construct-link_none{
        top: 292px;
    }
    .construct-link{
        left: 250px;
        top: 175px;
    }
    .desk-box{

    }

    .box-end{
        top: 820px;
    }
    .end-box{
        height: 1380px;
    }
    .box-end__item-text{
        font-size: 10px;
    }
    .box-end__text-item{
        font-size: 14px;
    }
}
@media only screen and (max-width: 640px){
    .home-search__image{
        right: 50px;
    }
    .title-text{
        font-size: 30px;
    }
    .title-text:after{
        top:20px;
        left:200px;
        width: 379px;
    }
    .group-cards__closet-img{
        left: 50px;
    }
    .group-cards__closet{
        width: 300px;
    }
    .group-text__style{
        width: 300px;
        top: 310px;
    }
    .construct{
        border-bottom: none;
    }
    .test_old{
        left: 70%;
    }
    .box-end {
        top: 850px;
    }
    .end-box {
        height: 1410px;
    }
    .construct-box__left{
        margin: 0;
        padding: 0;
        bottom: 20px;
        left: 13%;
    }
    .test-border__right,
    .test-border__left{
        top:380px;
    }
    .list-text{
        padding-right: 13px;
    }
    .header-nav__item{
        margin-right: 3px;
    }
    .desk-box{
        height: 2496px;

    }
    .services-box__size-text{
        left: 20px;
        top: 130px;
    }
    .services-box__size,
    .services-box__design,
    .services-box__cargo,
    .services-box__delivery,
    .services-box__installation{
        height: 220px;
    }
    .services-box__design-text{
        top: 134px;
        left: 20px;
    }
    .services-box__cargo-text{
        top: 150px;
        left: 20px;
    }
    .services-box__delivery-text{
        left: 20px;
        top: 120px;
    }
    .services-box__installation-text{
        left: 20px;
        top: 129px;
    }
}
@media only screen and (max-width: 420px){
    .construct-box__left-img{
        width: 70%;
    }
    .test-border__left,
    .test-border__right{
        top: auto;
    }
    .test-border__right{
        left: 35%;
    }
    .test-border__left{
        left: 20%;
    }
    .cover-text__discount{
        font-size: 50px;
    }

    .header-container__item{
        align-items: center;
    }
    .desk,
    .services{
        padding: 15%;
    }
    .construct-text__name{
        font-size: 28px;
    }
    .group-cards__closet{
        height: 450px;
    }
    .end-box__text{
        padding-left: 15%;
    }
    .test_old{
        left: 0;
    }
    .catalog-furniture__catalog{
        left: 4px;
        top: 155px;
    }
    .test_old{
        height: 35px;
        width: 35px;
        top: -50px;
    }
    .test{
        height: 35px;
        width: 35px;
    }
    .svg_forward{
        width: 20px;
    }
    .svg_back{
        width: 20px;
    }
    .desk-box{
        height: 1408px;
    }
    .end-redact__text-six{
        font-size: 14px;
    }
    .seven-inf{
        font-size: 10px;
        width: 100%;
    }

}

@media only screen and (max-width: 320px){
    .title-text:after{
        display: none;

    }
    .construct-box__left-img{
        display: none;
    }
    .services-box__size{
    }
    .list-text__off{
        display: none;
    }
    .off{
        display: table;
    }
    .cover-text__discount{
        font-size: 40px;
    }
    .construct-text__name{
        font-size: 28px;
    }

    .container{
        padding: 0;
    }
    .seven-address{
        font-size: 12px;
    }
    .seven-inf{
        font-size: 7px;
    }
    .catalog-furniture__catalog {
        left: 4px;
        top: 123px;
    }
    .svg_back,
    .svg_forward{
        display: none;
    }
    .group-text__forward-oll{
        margin-top: 60px;
    }
    .home-search__image{
        display: none;
    }

}



